<%# encoding: utf-8 %>

<% if order.status == "Pending" %>
    <p>Bonjour <%= order.buyer.first_name %>, </p>
    <p>Merci pour votre demande.</p>
    <p>Nous sommes dans l'attente du retour de <%= order.seller.first_name %>. <%= order.seller.first_name %> peut pré-approuver votre demande et vous donner accès au paiement ou bien la refuser.</p>
    <p>Bonne journée</p>
<% elsif order.status == "Validated" %>
    <p>Bonjour <%= order.buyer.first_name %>, </p>
    <p>Votre demande a été pré-approuvée. Merci de procéder au paiement en cliquant sur le bouton "Payer" ci-dessous.</p>

    <p>Avant de procéder au paiement, merci de valider les <%= link_to "conditions générales", terms_of_service_path, target: "_blank"  %>  <%= f.check_box :terms %></p>
    <p>Bonne journée</p>
<% elsif order.status == "Payed" %>

    <h3>Détail de la vente - N°<%= order.id %></h3>
    <p><b>Prénom :</b> <%= order.seller.first_name %></p>
    <p><b>Nom :</b> <%= order.seller.last_name %></p>
    <p><b>Email :</b> <%= order.seller.email %></p>

    <p><b>Prix Total :</b> <%= order.order_price %> €</p>
    <p><b>dont frais de service :</b> <%= order.fees_seller %> €</p>

    <p>Merci de prendre contact directement avec <%= order.seller.first_name %> pour les dernières modalités.</p>
<% elsif order.status == "Cancelled" %>
    <p>Merci de prendre contact avec nos équipesavec l'identifiant : N°<%= order.id %></p>
<% elsif order.status == "Refused" %>
<% elsif order.status == "Expired" %>
<%end%>