<div class="col-md-9 col-md-push-3" >

    <%= simple_form_for @listing, html: { multipart: true } do |f| %>

      <h3>Description</h3><hr>

        <div class="form-group">
          <%= f.label :name, "Nom" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :summary, "Résumé (255 caractères max.)" %>
          <%= f.text_area :summary, autofocus: true, class: "form-control",:rows => 3 %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, autofocus: true, class: "form-control",:rows => 8 %>
        </div>

      <hr><h3>Tarification</h3><hr>

          <div class="form-group">
            <%= f.label :listing_price_standard, "Prix de base (en €)" %>
            <%= f.number_field :listing_price_standard, class: "form-control" %>
          </div>

      <hr><h3>Localisation</h3><hr>
          <div class="row">
            <div class="col-xs-9">
              <%= f.input :address, :input_html =>{:id => 'gmaps-input-address', class: "form-control", autofocus: true}, :placeholder => 'Commencez à saisir votre addresse', label: "Adresse" %>
            </div>
            <div class="col-xs-3">
              <%= f.label :country, "Pays" %>
              <%= f.country_select :country, ["France"], {}, { :class => "form-control" } %>
            </div>
          </div>
          <div id='gmaps-canvas'></div>

      <hr><h3>Photos</h3><hr>

        <div class="form-group">
          <%= f.fields_for :images do |builder| %>
              <%= render 'image_fields', :f => builder %>
          <%end%>

          <p><%= link_to_add_fields "Ajouter une photo", f, :images %></p><br />
        </div>

      <hr>

        <div class="form-group text-right">
          <%= f.submit "Publiez ou modifiez votre annonce", class: "btn btn-success" %>
        </div>
    <% end %>

</div>

