<%# encoding: utf-8 %>

<!-- begin:article -->
<div class="col-md-9 col-md-push-3">

  <%= render "listings/sort" %>

  <!-- begin:product -->
  <div class="row container-realestate">
    <% @listings.each do |listing| %>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="property-container">
            <div class="property-image">
              <% listing.images.limit(1).each do |vimage| %>
                  <%= image_tag(vimage.photo.url(:medium), class: "img-responsive")%>
              <% end %>
              <div class="property-price">
                <h4>A partir de</h4>
                <span>250 €</span>
              </div>

            </div>
            <div class="property-features">
              <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup></span>
              <span><i class="fa fa-hdd-o"></i> 2 Bed</span>
              <span><i class="fa fa-male"></i> 2 Bath</span>
            </div>
            <div class="property-content">
              <h3><a href="#"><%= link_to listing.name.capitalize, listing_path(listing) %></a> <small><%= listing.address %></small></h3>
            </div>
          </div>
        </div>
        <!-- break -->
    <%end%>

  </div>
  <!-- end:product -->

  <!-- begin:pagination -->
  <div class="row">
    <div class="col-md-12 center">
    <%= will_paginate @listings, renderer: BootstrapPagination::Rails, :previous_label => 'Précédent', :next_label => 'Suivant' %>
    </div>
  </div>
  <!-- end:pagination -->
</div>
<!-- end:article -->