<%# encoding: utf-8 %>


<!-- begin:article -->
<div class="col-md-9 col-md-push-3">

  <%= render "listings/sort" %>

  <!-- begin:product -->
  <div class="row container-realestate">
    <% @listings.each do |listing| %>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="property-container">
            <div class="property-content-list">
              <div class="property-image-list">
                <% listing.images.limit(1).each do |vimage| %>
                    <%= image_tag(vimage.photo.url(:medium), class: "img-responsive")%>
                <% end %>
                <div class="property-price">
                  <span><%= listing.listing_price_standard %> €</span>
                </div>

                <div class="property-features">
                  <span><i class="fa fa-home"></i> 7,000 m<sup>2</sup></span>
                  <span><i class="fa fa-hdd-o"></i> 3 Bed</span>
                  <span><i class="fa fa-male"></i> 2 Bath</span>
                  <span><i class="fa fa-building-o"></i> 2 Floors</span>
                  <span><i class="fa fa-car"></i> 2 Garages</span>
                </div>
              </div>
              <div class="property-text">
                <h3><%= link_to listing.name.capitalize, listing_path(listing) %><small><%= listing.city %> - <%= listing.country %></small></h3>
                <p><%= listing.summary %></p>
                <p><%= link_to "En savoir plus",listing_path(listing) , class: "btn btn-success" %></p>
              </div>
            </div>
          </div>
        </div>
    <%end%>
    <!-- break -->
  </div>
  <!-- end:product -->

  <!-- begin:pagination -->
  <div class="row">
    <div class="col-md-12 center">
      <%= will_paginate @listings, renderer: BootstrapPagination::Rails, :previous_label => 'Précédent', :next_label => 'Suivant' %>
    </div>
  </div>
  <!-- end:pagination -->
</div>
<!-- end:article -->