<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<% @listing.images.each do |vimage| %>
    <%= image_tag(vimage.photo.url(:medium), class: "img-responsive")%></div>
<% end %>


<% if @listing.user == current_user %>
    <%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<%= link_to 'Back', listings_path %>
