<%# encoding: utf-8 %>

<!-- begin:article -->
<div class="col-md-9 col-md-push-3">

  <!-- begin:product -->
  <div class="row container-realestate">
    <% @listings.each do |listing|%>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="property-container">
            <div class="property-content-list">
              <div class="property-image-list">
                <% listing.images.limit(1).each do |vimage| %>
                   <%= image_tag(vimage.photo.url(:medium), class: "img-responsive")%>
                <% end %>

                <div class="property-status">

                </div>
                <div class="property-features">
                    <%= listing.name%>
                </div>
              </div>
              <div class="property-text">
                <h3><a href="#"><%= listing.name%></h3>
                <p><%= listing.summary %></p>
                <div class="row">
                  <div class="col-xs-12 col-md-3">
                    <%= link_to "Visualiser",listing_path(listing) , class: "btn btn-success" %>
                  </div>
                  <div class="col-xs-12 col-md-3">
                    <%= link_to "Modifier", modification_path(listing.id), {:class => "btn btn-warning"} %>
                  </div>
                  <div class="col-xs-12 col-md-3">
                    <%= link_to listing_path(listing), :class => 'btn btn-danger', :method => :delete, :data => { :confirm => 'Quel dommage !' }  do %>
                        Effacer cette annonce
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <%end%>
  </div>
  <!-- end:product -->

  <!-- begin:pagination -->
  <div class="row">
    <div class="col-md-12 center">
      <%= will_paginate @listings, renderer: BootstrapPagination::Rails, :previous_label => 'Précédent', :next_label => 'Suivant' %>
    </div>
  </div>
  <!-- end:pagination -->

</div>
<!-- end:article -->