<%# encoding: utf-8 %>

<!-- begin:content -->
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-push-3">
        <div class="center">
          <h1>Orders</h1>
        </div><br />

        <div class="row">
          <div class='col-md-4'>
            <p>Nombre d'enregistrements : <%= @orders.total_entries  %></p>
          </div>
          <div class="col-md-8 text-right">
            <%= search_form_for @q, url: admin_orders_path  do |f| %>
                <%= f.search_field :id_eq,  placeholder: "N° de résa" %>
                <%= f.submit "Rechercher", class: "btn btn-success" %>
                <%= link_to 'Annuler', admin_orders_path, class: "btn btn-danger" %>
              <% end %>
          </div>
        </div>


        <table class="table table-striped">
          <thead>
          <tr>
            <th>Statut</th>
            <th>Dates et lieu</th>
            <th>Hôte</th>
            <th>Détails</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <% @orders.each do |order| %>
              <tr>
                <td class="center"><%= render "orders/status/status", :order => order %></td>
                <td class="center">
                  <p><%= link_to  order.listing.name, listing_path(order.listing_id), target: '_blank' %></p>
                  <p><%= order.start_date.strftime("%d %B %Y") %> au <%= order.end_date.strftime("%d %B %Y")  %> </p>
                </td>
                <td class="center"><%= order.buyer.first_name %></td>
                <td class="center"><%= number_to_currency(order.order_price, unit: "€", format: "%n %u") %></td>
                <td class="center"><%= link_to "Visualiser", edit_admin_order_path(order.id) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

        <div class="center">
          <%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
        </div>
      </div>

          <%= render "admin/sidebar" %>

    </div>
  </div>
</div>
<!-- end:content -->




