<%# encoding: utf-8 %>

<div class="col-md-9 col-md-push-3" >
    <div class="panel">
      <div class="panel-header">
        <div class="row row-table">
          <div class="col-md-6 ">
            <h2>Mes ventes</h2>
          </div>

          <div class="col-md-6 text-right">
            <div class="form-group">
              <label for="sel1"></label>

              <%= search_form_for @q, url: sales_path do |f| %>
                  <div class="col-xs-12 col-md-6">
                    <%= f.select(:status_eq, [['En attente', "Pending"], ['Validée', "Validated"], ['Réservée', "Payed"], ['Annulée', "Cancelled"], ['Refusée', "Refused"], ['Expirée', "Expired"]],{}, {class: "form-control"}) %>
                  </div>
                  <div class="col-xs-12 col-md-3">
                    <%= f.submit 'Rechercher', class: "btn btn-success" %>
                  </div>
                  <div class="col-xs-12 col-md-3">
                    <%= link_to 'Annuler', sales_path, class: "btn btn-danger" %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table panel-body space-1" style="background-color:white">
          <tbody>
            <tr>
                <th>Statut</th>
                <th>Dates et lieu</th>
                <th>Voyageur</th>
                <th>Détails</th>
                <th></th>
            </tr>
                <% @orders.each do |order| %>
                  <tr>
                    <td class="center"><%= render "orders/status/status", :order => order %></td>
                    <td class="center">
                      <p><%= link_to  order.listing.name, listing_path(order.listing_id), target: '_blank' %></p>
                      <p><%= order.start_date.strftime("%d %B %Y") %> au <%= order.end_date.strftime("%d %B %Y")  %> </p>
                    </td>
                    <td class="center"><%= order.buyer.first_name %></td>
                    <td class="center"><%= number_to_currency(order.order_price, unit: "€", format: "%n %u") %></td>
                    <td class="center"><%= link_to "Visualiser", edit_listing_order_path(order.listing_id, order.id) %></td>
                  </tr>
              <% end %>
            </tbody>
        </table>

        <div class="center">
          <%= will_paginate @orders, renderer: BootstrapPagination::Rails, :previous_label => 'Précédent', :next_label => 'Suivant' %>
        </div>

      </div>
    </div>
</div>