<%# encoding: utf-8 %>

    <!-- begin:article -->
<div class="col-md-9 col-md-push-3" >
  <%= form_for([@listing, @order]) do |f| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-7 col-md-9">
              <h4><%= @order.listing.name %></h4>
              <p><%= @order.start_date.strftime("%d %B %Y") %> au <%= @order.end_date.strftime("%d %B %Y") %></p>
            </div>
            <div class="col-xs-5 col-md-3 text-right">
              <%= render "orders/status/status", :order => @order %>
              <h2><%= @order.order_price %> €</h2>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <% if @order.buyer_id == current_user.id %>
                <%= render "orders/status/content_buyer", :order => @order %>
            <% elsif @order.seller_id == current_user.id %>
                <%= render "orders/status/content_seller", :order => @order %>
            <%end%>
          </div>
          <div class="col-xs-12  text-right">
            <% if @order.buyer_id == current_user.id %>
                <%= render "orders/status/button_buyer", :order => @order %>
            <% elsif @order.seller_id == current_user.id %>
                <%= render "orders/status/button_seller", :order => @order %>
            <%end%>
          </div>
        </div>
      </div>
  <%end%>

  <%= render "orders/edit/new_message" %>

  <%= render "orders/edit/index_message" %>

  <%= render "orders/edit/first_message" %>

</div>