<%= form_for([@listing, @order]) do |f| %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date, :as => :string, :input_html => {:class => 'datepicker col-span-3'} %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :order_price %><br>
    <%= f.number_field :order_price %>
  </div><br />

    <div class="field">
      <%= f.label :message %><br>
      <%= f.text_area :message, autofocus: true, class: "form-control",:rows => 4 %>
    </div><br />
  <div class="actions">
    <%= f.submit "Envoyez une demande", class: "btn btn-success" %>
  </div>
<% end %>
