<%= render "pages/home/header" %>

<%= render "pages/home/services" %>

<!-- begin:content -->
<div id="content">
  <div class="container">
    <%= render "pages/home/miseenavant" %>
    <%= render "pages/home/lastest" %>
  </div>
</div>
<!-- end:content -->

<%= render "pages/home/testimony" %>
